<h1>New Category</h1>

<p>
  Categories are one word and must be unique...
</p>
<%= form_for [:admin, @category] do |f| %>
  <%= f.text_field :name, placeholder: "Category Name" %>
  <%= f.submit "Create" %>
<% end %>
